.container {
  display: flex;
  justify-content: space-between;
}

.flex-item1 {
  margin-left: 20px;
  border: 1px solid black;
  padding: 10px;
  width: 170px;
  background-color: rgba(144, 202, 249, 0.7);
  border-radius: 5px;
}

.flex-item2 {
  margin-left: 20px;
  border: 1px solid black;
  padding: 10px;
  width: 850px;
  background-color: rgba(144, 202, 249, 0.7);
  border-radius: 5px;
}

.flex-item3{
  margin-left: 20px;
  border: 1px solid black;
  padding: 10px;
  width: 370px;
  background-color: rgba(144, 202, 249, 0.7);
  border-radius: 5px;
}

.Logo {
  font-family: Georgia, "Times New Roman";
  font-style: italic;
  color: #1A237E;
  display: block;
  font-size: 40px;
  font-style: italic;
  font-weight: bold;
  margin-left: 10px;
  margin-bottom: 10px;
}

.Logo img {
  width: 70px;
  height: auto;
}

.fileInput {
  padding: 10px;
  margin-top: 5px;
  cursor: pointer;
  background-color: #BBDEFB;
  border-radius: 4px;
  border-style: solid;
  border-color: #1976D2;
  border-width: 2px;
  width: 200px;
}

.imgPreview {
  text-align: center;
  margin-top: 5px;
  margin-left: auto;
  margin-right: auto;
  width: 200px;
  height: 200px;
  background-color: #BBDEFB;
  border-radius: 4px;
  border-style: solid;
  border-color: #1976D2;
  border-width: 2px;
}

.imgPreview img {
  width: 100%;
  height: 100%;
}

.previewText {
  width: 100%;
  margin-top: 20px;
}

.productItemContainer {
  display: flex;
}

.productItemFlex {
  margin-left: 40px;
}

.productItemFlex:hover {
  cursor: pointer;
}

.deleteBtn {
  max-width: 15px;
  max-height: 15px;
  margin-left: 5px;
  margin-right: 10px;
}

.productList {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}

.submitForm input[type=text], input[type=number] {
  border-radius: 4px;
  padding: 6px 10px;
  border-style: solid;
  border-color: #1976D2;
}

select {
  border-radius: 4px;
  padding: 6px 5px;
  border-width: 2px;
  border-color: #1976D2;
}

textarea {
  border-radius: 4px;
  border-style: solid;
  border-width: 2px;
  border-color: #1976D2;
  padding: 6px 10px;
  font-family: "Arial", "Helvetica Neue" ;
  font-size: 13px;
}

input[type=checkbox] {
  width: 18px;
  height: 18px;
}

button, input[type=submit] {
  padding: 7px 20px;
  margin-left: auto;
  margin-right: auto;
  transition-duration: 0.5s;
  border-radius: 20px;
  border-color: #1976D2;
  border-style: solid;
  background-color: rgba(255,255,255,0.8);
  color: #1976D2;
  font-weight: bold;
}

button:hover, input[type=submit]:hover {
  cursor: pointer;
  box-shadow: 0 5px 20px 0 rgba(0,0,0,0.24), 0 10px 50px 0 rgba(0,0,0,0.19);
  background-color: rgba(25,118,210,0.5);
  color: white;
}

.addDeleteBtnGroup {
  display: flex;
  flex-direction: column;
}

.searchBar {
  width: 100%;
  border-radius: 4px;
  padding: 6px 0px;
  border-style: solid;
  border-color: #1976D2;
}

.fieldName {
  width: 140px;
}

table {
  table-layout: fixed;
  width: 250px;
}

th {
  text-align: left;
}

.centerBtnGroup {
  display: flex;
  justify-content: center;
}
